* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

/* ==================== Common ==================== */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0 16px;
    font-weight: 600;
    font-size: 1.8rem;
    min-width: 186px;
    line-height: 68px;
    text-align: center;
    color: #ffffff;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

/* ==================== Header ==================== */
.header.fixed {
    position: sticky;
    top: -44px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 52px 0 8px;
    background-color: #fff;
}

.header .nav {
    margin-left: 215px;
}

.header .list {
    display: flex;
}

.header .item a {
    display: inline-block;
    padding: 12px 20px;
    font-size: 1.6rem;
    color: #2f3a3b;
    text-align: center;
}

.header .item.active a,
.header .item a:hover {
    font-weight: 600;
}

.header .item a:before {
    content: attr(title);
    display: block;
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.header .action {
    display: flex;
    margin-left: auto;
}

.header .cta-btn {
    display: inline-block;
    text-align: center;
    padding: 12px 24px;
    font-size: 1.6rem;
    color: #494949;
}

.header .cta-btn:hover {
    font-weight: 600;
    color: var(--primary-color);
}

.header .cta-btn::before {
    content: attr(title);
    display: block;
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.header .cta-btn:last-child {
    font-weight: 600;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 6px;
}

/* ==================== Hero ==================== */
.hero .body {
    display: flex;
    align-items: center;
    padding: 42px 0 79px;
}

.hero .content {
    width: 40%;
}

.hero .content .sub-title {
    font-size: 1.4rem;
    color: #767e7e;
}

.hero .content .title {
    margin-top: 18px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.16;
    color: #0d1111;
}

.hero .content .desc {
    width: 374px;
    margin-top: 46px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #9da6a5;
}

.hero .content .desc span {
    display: inline-block;
}

.hero .action {
    margin-top: 52px;
    display: flex;
    align-items: center;
}

.hero .action .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
}

.hero .stat {
    position: relative;
    margin-left: 136px;
}

.hero .stat .img {
    width: 576px;
    height: 631px;
    object-fit: cover;
    vertical-align: bottom;
    background: #e0f7f6;
}

.hero .courses {
    display: flex;
    align-items: center;
    position: absolute;
    top: 149px;
    left: -40px;
    padding: 18px 25px;
    background: #fefefd;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
}

.hero .courses .icon {
    position: relative;
}

.hero .courses .icon::before {
    position: absolute;
    left: 50%;
    bottom: 8px;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 28px;
    height: 4px;
    background: #ffffff;
    border-radius: 4px;
}

.hero .member .desc,
.hero .schedules .desc,
.hero .courses .desc {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #0d1111;
}

.hero .courses .desc {
    width: 55px;
    margin-left: 16px;
}

.hero .schedules {
    position: absolute;
    left: -65px;
    bottom: 46px;
    padding: 16px 25px 23px;
    background: #ffffff;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.hero .schedules .desc {
    margin: 0 auto;
    text-align: center;
}

.hero .progress-grp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.hero .progress {
    position: relative;
    display: inline-block;
    width: 74px;
    height: 6px;
    background: #edf1f5;
    border-radius: 3px;
}

.hero .progress + .progress {
    margin-top: 10px;
}

.hero .progress:last-child {
    width: 26px;
    margin-top: 16px;
}

.hero .progress:not(:last-child)::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: inline-block;
    width: var(--progress-width, 39px);
    height: 6px;
    background: #fb9899;
    border-radius: 3px;
}

.hero .member {
    position: absolute;
    right: 45px;
    bottom: 41px;
    padding: 17px 35px;
    background: #fefefd;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.hero .member .avatar-grp {
    display: flex;
    margin-top: 8px;
}

.hero .member .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    background-color: var(--bg-color, #fff);
    object-fit: cover;
    border-radius: 50%;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff;
}

.hero .member .avatar:not(:first-child) {
    margin-left: -7px;
}

/* ==================== Features ==================== */
.features {
    margin-top: 51px;
    padding: 79px 0;
}

.features .content {
    width: 591px;
}

.features .content .sub-title {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #767e7e;
}

.features .content .heading {
    margin-top: 18px;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.33;
    color: #0d1111;
}

.features .content .desc {
    margin-top: 18px;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #767e7e;
}

.features .row {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    width: 1024px;
}

.features .column .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 106px;
    border-radius: 18px;
}

.features .column:first-child {
    width: 168px;
}

.features .column:first-child .icon {
    background: #ffc147;
}

.features .column:nth-child(2) {
    width: 223px;
}

.features .column:nth-child(2) .icon {
    background: #ff947a;
}

.features .column:last-child {
    width: 224px;
}

.features .column:last-child .icon {
    background: #bf83ff;
}

.features .column .title {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: #0d1111;
}

.features .column .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.69;
    color: #9da6a5;
}

/* ==================== Courses ==================== */
.courses {
    margin-top: 11px;
    padding: 40px 0;
}

.courses .content .sub-title {
    font-weight: 700;
    font-size: 1.2rem;
    color: #767e7e;
}

.courses .content .heading {
    margin-top: 18px;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.33;
    color: #0d1111;
}

.courses .content .foot {
    display: flex;
    margin-top: 19px;
    justify-content: space-between;
}

.courses .content .foot .desc {
    width: 525px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #767e7e;
}

.courses .content .foot .view-btn {
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration-line: underline;
    color: #1ebfc1;
}

.courses .row {
    margin-top: 79px;
    display: flex;
    gap: 47px;
}

.courses .column {
    position: relative;
    width: calc(100% / 3);
}

.courses .column .img {
    display: block;
    position: relative;
}

.courses .column .img::before {
    position: absolute;
    inset: 0;
    content: "";
    display: inline-block;
    background: #d0efed;
    opacity: 0.35;
    border-radius: 8px;
}

.courses .column img {
    width: 100%;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    vertical-align: bottom;
}

.courses .info {
    position: absolute;
    left: 17px;
    right: 17px;
    bottom: -71px;
    padding: 18px 25px 29px;
    background: #ffffff;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.courses .info .title a {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.5;
    color: #0d1111;
}

.courses .info .fee {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #767e7e;
}

.courses .info .fee strong {
    font-size: 2.2rem;
    font-weight: 700;
    color: #0d1111;
}

.courses .info .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #9da6a5;
}

.courses .info .foot {
    display: flex;
    gap: 0 10px;
    margin-top: 18px;
}

.courses .item {
    display: flex;
    align-items: center;
}

.courses .item .dot {
    display: inline-block;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background: #1ebfc1;
}

.courses .item .text {
    margin-left: 10px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #9da6a5;
}